* {box-sizing: border-box;}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    margin: 50px;
    overflow: scroll;
}

a {
    cursor: pointer;
}